<div style="float: right">
  <button (click)="gotoLogin()" class="sign-up-button" type="button" mat-raised-button color="primary">Log In</button>
</div>
<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="login-form">
    <mat-form-field class="login-full-width">
      <input matInput placeholder="name"  formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="login-full-width">
        <input matInput placeholder="email"  formControlName="email" required>
      </mat-form-field>
  
    <mat-form-field class="login-full-width">
      <input matInput type="password" placeholder="password" formControlName="password" required>
    </mat-form-field>
  </div>
  
  <button type="submit" mat-raised-button color="primary" [disabled]="!signUpForm.valid">Sign Up</button>
  
  </form>
<br>
  <a href="#">Terms</a>