<form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
    <div class="forgot-password-container">
      <div>
        <h1>Reset Your Password</h1>
      </div>
      <div>
          <label>Enter your email address below and we'll send you a link with instructions.</label>
        </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email" required>
        </mat-form-field>
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid">Submit</button>
      </div>
    </div>
  </form>